.box { 
	width: 100px; 
	height:100px ; 
	float: left; 
	/*margin: 0 10px 10px 40px; */
	margin-top:20px;
	background: pink;
	}

.red { color: red; background: pink; }

.blue { color: blue; 
background: light-blue; }

.green { color: green; background: light-green; }

.border { 
	/*border: 5px solid #0dd; */
}

.border:hover { 
	border: 2px solid #00d; 
	margin: 20px 10px 0px 10px; 

}
.border:click { 
	border: 2px solid #00d; 
	margin: 0 10px 0px 10px; 
}

.blue, .green{
	font-size:50px;
}
