.wrapper {
	width: 600px;
	height:300px;
	margin: 0 auto 50px

}
.red {
	background-color: #db1d04;
}
.yellow {
	background-color: #f2e016;
}
.green {
	background-color: #05783a;
}
.hstripe{
	height:100px

}
/* #topStripe{
	background-color: #db04c6;
} */

.black{
	background-color: black;

}

.vstripe{
	height:300px;
	width:200px;
	float:left

}
.vstripe.innerWrapper{
	width:400px;
}

#one{
	visibility:visible
}

#two{
	visibility:hidden
}

#three{
	visibility:hidden
}