body {
    font-family: arial, sans-serif;
    background-color: #36486b;
    margin: 0;
    padding: 0;
}

h1 {
    color: #36486b;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

.form-container {
    max-width: 300px;
    color: #36486b;
    margin: auto;
    margin-top: 50px;
    background-color: #fefbd8 ;
    padding: 20px;
    border-radius: 3px;
    font-size: 14px;
}


.form-field {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: thin solid #36486b;
    background-color: #fefbd8 ;
    color: #36486b;
    font-size: 18px;
}

label {
    font-size: 12px;
}

.submit-button {
    width: 100%;
    background-color: #36486b;
    color: white;
    margin-top: 20px;
    height: 40px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
}

/*---radio button----------*/

input[type="radio"] {
	display: none;
} 
input[type="radio"] + label {
	cursor: pointer;
    display: inline-block;
    color: black;
	text-align: left;
	height: 33px;
    background: linear-gradient(#EFEFEF, #FFFFFF,#EFEFEF);
    border: 1px solid #A9A9A9;
    width:  116px;
    border-radius: 5px;
    margin-right: 4px;
	font-size: 16px;
    line-height: 33px;
	padding-left: 10px;
}
input[type="radio"] + label:hover{
	background: #7ab7b0; 
}
input[type="radio"]:checked + label {
	background: #00b4e6;
}

input[type="radio"] + label:after {
	content: "";
	display: inline-block;
	height: 20px;
	width: 19px;
	background: url(checkbox.png) no-repeat !important;
    background-position: -3px -1px !important;
    position: relative;
    left: 27px;
    top: 3px;
}
input[type="radio"] + label.female:after {
    background-position: -26px -1px !important;
}
input[type="radio"] + label:hover:after,
input[type="radio"]:checked + label:after {
    background-position: -3px -27px !important;
}
input[type="radio"] + label.female:hover:after,
input[type="radio"]:checked  + label.female:after{
    background-position: -26px -27px !important;
}
input[type="radio"].toggle-left + label {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="radio"].toggle-right + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
 
/*---radio button----------*/
