body {
    font-family: arial, sans-serif;
    background-color: #36486b;
    margin: 0;
    padding: 0;
}

h1 {
    color: #36486b;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

.form-container {
    max-width: 300px;
    color: #36486b;
    margin: auto;
    margin-top: 50px;
    background-color: #fefbd8 ;
    padding: 20px;
    border-radius: 3px;
    font-size: 14px;
}


.form-field {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: thin solid #36486b;
    background-color: #fefbd8 ;
    color: #36486b;
    font-size: 18px;
}

label {
    font-size: 12px;
}

.submit-button {
    width: 100%;
    background-color: #36486b;
    color: white;
    margin-top: 20px;
    height: 40px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
}
