/*--------------------
	RESET
--------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 150%;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*--------------------
	GLOBAL TYPOGRAPHY
--------------------*/

body {
	font: 12px/18px Arial, Helvetica, sans-serif;
	color: #333;
}

p {
	margin: 0 0 20px 0;
}

h2 {
	font-size: 32px;
	color: #c60;
	padding-top: 4px;
	margin-bottom: 30px;
	}

h3 {
	color: #c60;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
}

a {
	color: #039;
	}
	a:hover {
		color: #c60;
	}

/*--------------------
	STRUCTURE
--------------------*/

body {
	background: #281912 url("images/bg.jpg") no-repeat top center;
}

#pagewrap {
	background: url("images/bg-glow.jpg") no-repeat top left;
	width: 820px;
	height: 600px;
	margin: 0 auto;
	padding: 0 100px;
}

#header {
	width: 800px;
	height: 90px;
	padding-top: 110px;
}

#content {
	background: url("images/content-bg.jpg") no-repeat top center;
	clear: left;
	width: 822px;
	height: 410px;
	position: relative;
	}
	#content div.page {
		position: absolute;
		top: 40px;
		left: 38px;
	}
	#content div.left {
		width: 241px;
		height: 322px;
		background: url("images/feature-bg.png") no-repeat top left;
		float: left;
	}
	#content div.right {
		width: 470px;
		float: left;
		margin-left: 20px;
	}

#footer {
	color: #666;
	margin-top: 5px;
	text-align: center;
	}
	#footer a {
		color: #963;
	}

/*--------------------
	NAVIGATION
--------------------*/

ul#navigation {
	float: right;
	}
	ul#navigation li {
		float: left;
		}
		ul#navigation li a {
			display: block;
			width: 64px;
			height: 90px;
			text-indent: -9999px;
			margin-left: 42px;
			}
			
			
ul#navigation li a.about 
{
	background: url("images/icon-about.png") no-repeat top left;
}
ul#navigation li a.about:hover
 {
	background-position: -63px 0;
}
				
				
				
			ul#navigation li a.work {
				background: url("images/icon-work.png") no-repeat top left;
				}
				ul#navigation li a.work:hover {
					background-position: top right;
				}
			ul#navigation li a.social {
				background: url("images/icon-social.png") no-repeat top left;
				}
				ul#navigation li a.social:hover {
					background-position: top right;
				}
			ul#navigation li a.contact {
				background: url("images/icon-contact.png") no-repeat top left;
				}
				ul#navigation li a.contact:hover {
					background-position: top right;
				}
			ul#navigation li.active {
				background: url("images/nav-underline.png") no-repeat 42px 0;
			}
		ul#navigation li a img {
			list-style: none;
			background: none;
			border: none;
			margin-right: 25px;
			padding: 5px;
		}

/*--------------------
	CONTENT - ABOUT
--------------------*/

#about img {
	background: url("images/photobg-big.png") no-repeat top left;
	padding: 0 5px;
}

#about ul {
	list-style: none;
	}
	#about ul li {
		float: left;
		font-size: 18px;
		font-weight: bold;
		margin-right: 40px;
		padding: 6px 0 10px 6px;
		}
		#about ul li img {
			display: block;
		}

/*--------------------
	CONTENT - WORK
--------------------*/

#work .left img {
	background: none;
	padding: 6px 10px 10px 6px;
	margin-bottom: 0;
}

#work .left h3 a {
	color: #039;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	margin: 0 0 0 10px;
	}
	#work .left h3 a:hover {
		color: #c60;
	}
#work .left p {
	margin: -5px 0 0 10px;
}

#work h3 {
	clear: left;
}

#work img {
	padding: 6px;
	background: url("images/thumb-bg.png") no-repeat top left;
	float: left;
	margin: 0 25px 20px 0;
	vertical-align: bottom;
	}
	#work a:hover img {
		background: url("images/thumb-bg-rol.png");
	}

/*--------------------
	CONTENT - SOCIAL
--------------------*/

#social div.left {
	background: url('images/feature-bg-twitter.png') no-repeat top center;
}
	#social .left p.tweet-text {
		width: 222px;
		margin: 100px 10px 0 10px;
		font: italic 14px/21px Georgia, sans-serif;
		text-align: center;
	}
	#social .left p.tweet-meta {
		width: 222px;
		text-align: right;
		position: absolute;
		bottom: 0px;
	}

#social .right ul li {
	float: left;
	margin: 0 20px;
	padding-top: 40px;
}

#social .right ul li a {
	display: block;
	width: 195px;
	font-size: 23px;
	text-decoration: none;
	}
	#social .right ul li a img {
		vertical-align: middle;
	}

/*--------------------
	CONTENT - CONTACT
--------------------*/

#contact div.left h3, #contact div.left ul {
	margin: 10px 0 0 17px;
}

#contact ul li.right {
	width: 410px;
}

label {
	display: block;
}

input, textarea {
	background: transparent;
	border: 1px solid #999;
	margin-bottom: 12px;
	width: 206px;
	height: 20px;
	}
	textarea {
		height: 90px;
	}
	input.send {
		width: 80px;
		height: 28px;
		color: #fff;
		font-weight: bold;
		background: #666;
		border-color: #666;
		cursor: pointer;
		float: left;
		margin: 5px 0 40px 0;
		}
		input.send:hover {
			background: #999;
		}

#contactinfo {
	margin: 50px 0 0 0;
	background: url("images/icon-home.png") no-repeat top left;
	}
	#contactinfo p {
	font-size: 21px;
	text-indent: 100px;
	margin-bottom: 0;
	}
	#contactinfo p a {
		text-decoration: none;
	}

#form-msg {
	width: 400px;
	height: 120px;
	margin: 0 auto;
	padding-top: 150px;
	text-align: center;
}
