.face{
	width: 300px;
    height: 480px;
    background-image: url(img/face.png);
    background-size: contain;
    margin-top: 20px;
    background-repeat: no-repeat;
    position: absolute;
}
.hat{
	width: 220px;
    height: 450px;
    background-image: url(img/hat.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;
    left: 42px;
}
.left-eye{
	width: 50px;
    height: 50px;
    background-image: url(img/eyes1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 136px;
    left: 81px;
}
.rigth-eye{
	width: 50px;
    height: 50px;
    background-image: url(img/eyes1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 136px;
    left: 160px;
    background-position: -54px 0;
}
.face:hover .left-eye,.face:hover .rigth-eye{
    background-image: url(img/eyes2.png);
}

.face:hover .hat{
	display: none;
}
























