body {
  background: lightgreen;
  margin: auto;
}

div {
  text-align: center;
  overflow: hidden;
  border: 5px dotted red;
  width: 300px;
  background: yellow;
}

img {
  width: 100px;
  border: 2px solid black;
	padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  background: white;
  margin: 10px;
}

img:hover {
  width: 200px;
background: red;
}

h1 {
  font-family: Impact;
  font-size: 60px;
  text-decoration: underline overline;
  margin: 10px;
}

h3 {

  font-size: 21px;
  margin: 10px;
}

p {
  font-family: Arial;
  font-size: 14px;
  margin: 20px;
}