body{
	background-color: #76c06b;
	margin: 0;
}
a{
	color: #81a1b5;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Flexo-Medium';
}
ul{
	margin: 0;
}
.global-nav{
	width: 100%;
	height: 70px;
	background-color: #fff;
}
.logo{
	width: 18%;
	max-width: 220px;
	display: inline-block;
	height: 50px;
	background-color: red;
	vertical-align: middle;
	/*margin-top: 10px;*/
	
}
.nav-items.nav-items-primary {
	width: 80%;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}
.nav-items.nav-items-primary > li {
	width: 19%;
	position: relative;
	display: table;
	float: left;
	height: 100%;
	border-right: thin solid #f2f2f2;
}
.nav-items.nav-items-primary > li > div {
	display: table-cell;
	vertical-align: middle;
}

.nav-items.nav-items-primary > li > .sub-menu{
	position: absolute;
	width: 100%;
	top: 70px;
	left: 0;
	background-color: white;
	overflow: hidden;
	list-style-type: none;
	padding: 0;
	max-height:0;
	border-radius: 0 0 5px 5px;
	transition: all 0.5s ease-in-out;
}
.nav-items.nav-items-primary > li > .sub-menu > li{
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.nav-items li:hover{
	background-color: #eef4fc;
}

.nav-items.nav-items-primary > li:hover .sub-menu{
	max-height:500px;
}
.nav-items.nav-items-primary > li:hover > .sub-menu > li{
	opacity: 1;
}
.nav-items.nav-items-primary > li:hover > .sub-menu{
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.15);
	border-top: 1px solid #81a1b5;
}


.global-nav .nav-items i{
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 25px;
  right: 0;
  padding: 0 10px;
  display: inline-block;
}

.global-nav .nav-items i:before{
	content: '';
	display: block;
	border-top: 1px solid #76c06b;
	border-right: 1px solid #76c06b;
	width: 15px;
	height: 15px;
	transform: rotate(315deg);
	transition: all 0.5s ease-in-out;

}

.global-nav .nav-items li:hover i:before{
	transform: rotate(135deg);
}






