span
{
	display: inline-block;
	margin: 8px; 
	box-shadow: 1px 2px 2px grey; 
}
body { 	
	background-image: url('rough-paper.png');
	
	padding: 30px;
	max-width: 450px;
	margin: auto;
}
.newspaper {
	background-color: antiquewhite;
	font-family: "Times New Roman";
	font-weight: bold;
}
.magazine1  {
 	background-color: teal;
 	color:white;
 	font-family: Verdana;
	font-weight: 900;
	text-transform: uppercase; 
}
.magazine2 {
	background-image: url('pink-pattern.png');
  	color: fuchsia;
  	font-family: Verdana;
	font-weight: 900;
}
.medium {
	font-size: 15px;
	padding: 6px;
}

.big {
	font-size: 20px;
	padding: 8px;
}
.reallybig {
	font-size: 30px;
	padding: 10px;
}
.rotateleft {
	transform: rotate(-5deg);
}
.rotateright {
	transform: rotate(5deg);
}
.skewleft {
	transform: skewX(10deg);
}
.skewright {
	transform: skewX(-10deg);
}
.comic {
 	background-color: yellow;
  	color: red;
  	font-weight: bold;
	font-family: "Bangers", cursive;
}


.font-test{
	font-family: 'Amatic SC', cursive;
}

.font-pacifico{
	font-family: 'Pacifico', cursive;
}








	
